<div class="user-featured row">
	<div class="columns">
		<h2>{{ title }}</h2>
	</div>

	<div class="medium-3 medium-push-9 columns uf-left">
		{{ image }}
	</div>

	<div class="medium-9 medium-pull-3 columns uf-right">
		<div class="contact-name-info">
			<h3>{{ name }}</h3>

			<p>{{ body }}</p>

			<a href="{{ url }}" class="button">apply here</a>
		</div>	
	</div>
</div>